# Exclude CSVs
db/data/*
# Exclude secondary implementations
db/secondary/*
# Exclude pycahe
__pycache__/*
db/__pycache__/*
clingo/__pycache__/*
# Exclude the docx files
kr23.docx
~$kr23.docx
~WRL4051.tmp
# Exclude vscode settings
.vscode/*